<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>AIRSHIP_DEV_KEY</key>
	<string>$(AIRSHIP_DEV_KEY)</string>
	<key>AIRSHIP_SECRET_KEY</key>
	<string>$(AIRSHIP_SECRET_KEY)</string>
	<key>APPLICATION_IDENTIFIER</key>
	<string>$(APPLICATION_IDENTIFIER)</string>
	<key>APP_STORE_ID</key>
	<string>$(APP_STORE_ID)</string>
	<key>APP_STORE_URL</key>
	<string>$(APP_STORE_URL)</string>
	<key>AppCenterID</key>
	<string>$(APPCENTER_ID)</string>
	<key>AppGroupID</key>
	<string>$(APP_GROUP_ID)</string>
	<key>BUILD_CONFIGURATION_NAME</key>
	<string>$(BUILD_CONFIGURATION_NAME)</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>$(APP_NAME)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.1</string>
	<key>CFBundleName</key>
	<string>$(APP_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(APP_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>$(BUNDLE_SCHEME)</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb1399062800327708</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>16709</string>
	<key>CHANNEL_NUMBER</key>
	<string>$(CHANNEL_NUMBER)</string>
	<key>CloudConfigurationFileName</key>
	<string>UnibetSports.json</string>
	<key>CloudConfigurationURL</key>
	<string>$(SPORTS_CLOUDCONFIGURATION_URL)</string>
	<key>DEVELOPMENT_TEAM</key>
	<string>$(DEVELOPMENT_TEAM)</string>
	<key>KAF_CLIENT_SECRET_PRODUCTION</key>
	<string>$(KAF_CLIENT_SECRET_PRODUCTION)</string>
	<key>KAF_CLIENT_SECRET_QA1</key>
	<string>$(KAF_CLIENT_SECRET_QA1)</string>
	<key>KAF_CLIENT_SECRET_SI1</key>
	<string>$(KAF_CLIENT_SECRET_SI1)</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>cydia</string>
		<string>bankid</string>
		<string>casinoapp</string>
		<string>lcnative</string>
		<string>betupapp</string>
		<string>bingocomapp</string>
		<string>mariaapp</string>
		<string>stanjames</string>
		<string>storspelareapp</string>
		<string>storspillerapp</string>
		<string>bepgenapp</string>
		<string>swish</string>
		<string>relaxpoker</string>
		<string>fbapi</string>
		<string>fbapi20130214</string>
		<string>fbapi20130410</string>
		<string>fbapi20130702</string>
		<string>fbapi20131010</string>
		<string>fbapi20131219</string>
		<string>fbapi20140410</string>
		<string>fbapi20140116</string>
		<string>fbapi20150313</string>
		<string>fbapi20150629</string>
		<string>fbapi20160328</string>
		<string>fbauth</string>
		<string>fb-messenger-share-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>In order to place wagers, please enable Location Services and allow Unibet to confirm that you’re located in a state where betting is allowed.</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>In order to place wagers, please enable Location Services and allow Unibet to confirm that you’re located in a state where betting is allowed.</string>
	<key>NSCameraUsageDescription</key>
	<string>This lets you upload documents to verify your account.</string>
	<key>NSFaceIDUsageDescription</key>
	<string>Use Face ID to log in</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>This application is restricted to specific countries so we must check your location in order to open the app.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>This application is restricted to specific countries so we must check your location in order to open the app.</string>
	<key>NSMotionUsageDescription</key>
	<string>In order to place wagers, please enable Location Services and allow Unibet to confirm that you’re located in a state where betting is allowed.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>This lets you upload documents to verify your account.</string>
	<key>OptimizelyID</key>
	<string>$(OPTIMIZELY_ID)</string>
	<key>PushNotificationsAppID</key>
	<string>$(PUSH_NOTIFICATIONS_APP_ID)</string>
	<key>SUPPORTED_LOCALES</key>
	<string>$(SUPPORTED_LOCALES)</string>
	<key>SportsMenuCloudConfigurationURL</key>
	<string>$(SPORTS_MENU_CLOUDCONFIGURATION_URL)</string>
	<key>UIAppFonts</key>
	<array>
		<string>Roboto-Bold.ttf</string>
		<string>Roboto-Light.ttf</string>
		<string>Roboto-Regular.ttf</string>
		<string>Roboto-Medium.ttf</string>
		<string>Roboto-Italic.ttf</string>
		<string>Unibet Pro.ttf</string>
	</array>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>LiveRightNow</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Live right now</string>
			<key>UIApplicationShortcutItemType</key>
			<string>Sports.LiveRightNow</string>
			<key>UIApplicationShortcutItemUserInfo</key>
			<dict>
				<key>url</key>
				<string>https://www.unibet.com/betting/?#filter/all/all/all/all/in-play</string>
			</dict>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>StartingSoon</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Starting soon</string>
			<key>UIApplicationShortcutItemType</key>
			<string>Sports.StartingSoon</string>
			<key>UIApplicationShortcutItemUserInfo</key>
			<dict>
				<key>url</key>
				<string>https://www.unibet.com/betting/?#filter/all/all/all/all/starting-soon</string>
			</dict>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>ShowAllSports</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Show all sports</string>
			<key>UIApplicationShortcutItemType</key>
			<string>Sports.ShowAllSports</string>
			<key>UIApplicationShortcutItemUserInfo</key>
			<dict/>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>HorseRacing</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Horse racing</string>
			<key>UIApplicationShortcutItemType</key>
			<string>Sports.HorseRacing</string>
			<key>UIApplicationShortcutItemUserInfo</key>
			<dict/>
		</dict>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreenIphone</string>
	<key>UILaunchStoryboardName~ipad</key>
	<string>LaunchScreenIpad</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<false/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
	<key>URLRewritingConfigurationFileName</key>
	<string>URLConfig.json</string>
	<key>URLRewritingConfigurationStagingURL</key>
	<string>$(SPORTS_URLREWRITINGCONFIGURATION_STAGING_URL)</string>
	<key>URLRewritingConfigurationURL</key>
	<string>$(SPORTS_URLREWRITINGCONFIGURATION_URL)</string>
	<key>UserInfoMessageFileName</key>
	<string>userInfoLaunchMessages.json</string>
	<key>UserInfoMessageURL</key>
	<string>$(SPORTS_USERINFOMESSAGE_URL)</string>
</dict>
</plist>
